:host {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
}

.card {
  width: 95%;
  height: 95%;
  margin-top: 5%;
  border-radius: 10%;
  background-color: #ececec;
  box-shadow: inset 0px 0px 0px 1px #9999aa;
}

.card.main {
  background-color: #556;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
  background-image: linear-gradient(30deg, #632c63 12%, transparent 12.5%, transparent 87%, #632c63 87.5%, #632c63),
    linear-gradient(150deg, #632c63 12%, transparent 12.5%, transparent 87%, #632c63 87.5%, #632c63),
    linear-gradient(30deg, #632c63 12%, transparent 12.5%, transparent 87%, #632c63 87.5%, #632c63),
    linear-gradient(150deg, #632c63 12%, transparent 12.5%, transparent 87%, #632c63 87.5%, #632c63),
    linear-gradient(60deg, #400040 25%, transparent 25.5%, transparent 75%, #400040 75%, #400040),
    linear-gradient(60deg, #400040 25%, transparent 25.5%, transparent 75%, #400040 75%, #400040);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  vertical-align: middle;
}

.card:hover {
  background-color:#ffffff;
  width: 100%;
  margin-left: -2.5%;
}

.card.main:hover {
  background-color:#7b7b8c;
}

p.top {
  text-align:left;
  font-size: 100%;
  vertical-align: middle;
  margin: 0 0 0 5%;
  height: 30%;
}

p.center {
  text-align:center;
  font-size: 200%;
  margin: 0 0 0 0;
  height: 50%;
}

p.center.main {
  color:white;
}

p.bottom {
  text-align:right;
  margin: 0 5% 0 0;
  height: 20%;
}
