.board {
  display: grid;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
  grid-template-rows: 2% 24% 74%;
  box-sizing: border-box;
  background-color: black;
  margin: 1% 20% 1% 20%;
  border: 5px solid black;
  height: 85vh;
  box-shadow: inset 0px 0px 0px 5px #445;
}

.mainpiles {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 100%;
  box-sizing: border-box;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

.foundationpiles {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  box-sizing: border-box;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 8;
}

.playpiles {
  display: grid;
  grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
  grid-template-rows: 100%;
  box-sizing: border-box;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 8;
}

.pile {
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 0% 15% 0% 15%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.pile.bottom {
  grid-template-rows: 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5% 5.5%;
}

.pile.nothing {
  background-color: black;
}

.card.placeholder {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 7;
  padding: 6px;
  margin-top: -6px;
  margin-left: -6px;
}
.card.empty {
  width: 95%;
  height: 95%;
  margin: 5% 0% 5% 0%;
  border-radius: 10%;
  border: 3px solid #400040;
}
