<div class="board">

  <div class="mainpiles">
    <div class="pile" (click)="flip(mainPile)">
      <app-card *ngIf="getClosedCards(mainPile).length as total else empty"
                [closed]="true" [total]="total">
      </app-card>
    </div>
    <div class="pile">
      <app-card *ngIf="getTopCard(mainPile) as card else empty"
                [card]="card" [selection]="selection" (clickEvent)="click(mainPile, card)">
      </app-card>
    </div>
  </div>


  <div class="foundationpiles">
    <div class="pile" *ngFor="let foundationPile of foundationPiles" (click)="click(foundationPile, null)">
      <app-card *ngIf="getTopCard(foundationPile) as card else empty" [card]="card"></app-card>
    </div>
    <ng-template #empty>
      <div class="card placeholder">
        <div class="card empty"></div>
      </div>
    </ng-template>
  </div>


  <div class="playpiles">
    <div class="pile bottom" *ngFor="let playPile of playPiles">
      <ng-container *ngIf="getOpenCards(playPile).length || getClosedCards(playPile).length else showEmpty">
        <app-card *ngFor="let card of getPlayPileCards(playPile) | keyvalue; index as i"
                  [closed]="card.value" [index]="i" [selection]="selection" [card]="card.key"
                  (clickEvent)="click(playPile, card.key)" (click)="flip(playPile)">
        </app-card>
      </ng-container>
      <ng-template #showEmpty>
        <div class="card placeholder">
          <div class="card empty" (click)="click(playPile, null)"></div>
        </div>
      </ng-template>
    </div>
  </div>

</div>

